$light:        #FAF9F4;
$black:        #222222;
$dark:         #292929;
$gray:         #FAF9F4;
$yellow:       #F1BE00;

$primary:      $yellow;
$text-color:   $dark;
$header-color: $black;

$radius:       5px;

// Typography

