.main {
  .container {
    background: $white;
    padding-top: $content-padding;
    padding-bottom: $content-padding;

    @include desktop {
      border-radius: $radius;
      box-shadow: 0 3px 8px rgba(0,0,0,.2);
      padding: $content-padding;
    }
  }
}

.featured-book {
  @extend %light-shadow;
  background-color: $light;
  padding: $content-padding;
  margin: 1rem (-$content-padding) 0 (-$content-padding);
  position: relative;
  @include clearfix;

  img {
    border-radius: $radius;
    box-shadow: 0 4px 7px rgba(0,0,0,.2);
    margin: 1rem 0;
    width: 100%;

    @include tablet {
      float: left;
      width: auto;
      margin: 0;
      margin-right: $content-padding;
    }

    @include desktop {
      max-width: 27%;
    }
  }

  .recommended {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $yellow;
    color: $white;
    font-size: $size-small;
    padding: 2px 10px 3px;
    border-bottom-left-radius: $radius;
    box-shadow: 2px 0 2px rgba($yellow, .3);
  }

  .title {
    font-weight: 800;
  }

  .synopsis {
    margin: 1rem 0 0 0;
  }
}

.top-voted {
  margin-top: $content-padding * 2;
}

.books-list {
  margin-top: $content-padding / 2;

  @include tablet {
    display: flex;
  }

  img {
    max-width: 100%;
  }
}

.book {
  @extend %light-shadow;
  position: relative;
  background: $light;
  padding: 1rem;
  border-radius: $radius;

  @include tablet {
    flex: 1;
    transition: all 400ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.01,1.01);
    }
  }

  & + & {
    margin-top: $content-padding;

    @include tablet {
      margin-top: 0;
      margin-left: $content-padding;
    }
  }

  .position {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.7rem;
    text-align: center;
    color: $yellow;
    border: 2px solid $yellow;
    border-radius: 1rem;
  }

  img {
    width: 46%;
    margin-left: 27%;
    border-radius: $radius;
    box-shadow: 0 3px 5px rgba(0,0,0,.15);
  }

  .book-info {
    margin-top: .7rem;
  }

  .title {
    font-weight: bold;
  }

  .author {
    font-size: .9rem;
  }

  .synopsis {
    margin-top: 1.5rem;
  }
}

