$light:                     #FAFAF3;
$black:                     #292929;
$dark:                      #555555;
$gray:                      #CCCCCC;
$yellow:                    #DDAA43;
$yellow-light:              #eebd00;
$yellow-dark:               #A97721;
$white:                     #FFFFFF;

$primary:                   $yellow;
$text-color:                $black;


// Layout
$radius:                    9px;
$radius-small:              4px;
$content-padding:           2.5rem;


// Typography
$font-family-base:          "Lato", Helvetica, Arial, sans-serif;
$font-family-headings:      Arial, Helvetica, sans-serif;
$font-size-base:            100%;
$line-height-base:          1.4;
$size-h1:                   3.5rem;
$size-h2:                   2.5rem;
$size-h3:                   1.8rem;
$size-small:                .8125rem;


// Navigation bar
$nav-height:                4rem;
$nav-font-size:             1rem;
$nav-padding-x:             1.2rem;
$nav-padding-y:             .5rem;
$nav-radius:                $radius-small;
