body {
  background: $light;
}

.container {
  margin: 0 auto;

  @include mobile {
    padding: 0 1rem;
  }

  @include tablet {
    width: 740px;
    box-shadow:  0 0 15px rgba(0,0,0,.2);
  }

  @include desktop {
    width: 950px;
  }

  @include desktop-large {
    width: 1050px;
  }
}
